/* The interaction behind thing.thing and thing, thing is huge. Chaining thing.thing is like sub classes. Title has to be inside preface to apply. The comma just adds more classes. So below are three classes that must all be a subclass to the preface class and preface must be a div */
#workskin div.preface .title,
#workskin div.preface .byline,
#workskin div.preface .byline a {
  font-family: 'Castoro Titling', 'Felix Titling', titling;
}

#workskin hr {
	border: none;
	border-top: 3px double #808080;
}

/* Formatting will want to put each comma as a new line for properties. AO3 will not acceot that. Make sure each property (thing:) is one line total. Gradient modified from https://archiveofourown.org/works/58623079/chapters/149366104 */
#workskin .patriciapoem {
	background-color: #808080;
	background-image: radial-gradient(circle at 50% 35%, #f1bd00,  #de7d00, #bf3900, #920d03, #611405);
	background-size: 100% 150%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

#workskin .dateheading::before {
	content: "● 〈   ";
}

#workskin .dateheading::after {
	content: "   〉 ●";
}

/* .texting is a div that the classes alri, alle, and alce control aligned text, 'alce' is not used but is included in my html files in case I want to add formatting later */
#workskin .texting {
	padding: 1ch;
}

#workskin .texting .alri {
	margin-left: 5ch;
}

#workskin .texting .alle {
	margin-right: 5ch;
}

#workskin .email {
	border: 1px solid black;
	padding: 2pc;
}

#workskin .link {
	text-decoration: underline;
	color: #167ac8;
}
